# SPDX-FileCopyrightText: 2023 LakeSoul Contributors
#
# SPDX-License-Identifier: Apache-2.0

/target/
/build/
/.idea/
/spark-warehouse/
/derby.log
/.metals/
/.vscode/
*.iml
/native-io/lakesoul-io-java/target/
/aws-test/target/
/native-io/lakesoul-io-java/.idea/
dependency-reduced-pom.xml
/lakesoul-spark/spark-warehouse/
dependency-reduced-pom.xml
/lakesoul-spark/spark-warehouse/
/script/benchmark/work-dir/*.jar
*.DS_Store
__pycache__/
/cpp/build/
/python/lakesoul/.libs/
/python/lakesoul/arrow/_lakesoul_dataset.so
/python/pyarrow
/rust/lakesoul-io-c/lakesoul_c_bindings.h
/rust/lakesoul-io-java/target/
/rust/lakesoul-io-java/.idea/
/python/lakesoul/metadata/generated/entity_pb2.py
/python/lakesoul/metadata/generated/entity_pb2_grpc.py
/python/build/
/python/lakesoul.egg-info/
/python/*.whl
/python/wheelhouse/
