/target/
/build/
/.idea/
/spark-warehouse/
/derby.log
/.metals/
/.vscode/
/arrow/.idea/
/arrow/target/
/arrow-c-data-jni/target/
.DS_Store
*.iml
/native-io/lakesoul-io-java/target/
/native-io/lakesoul-io-java/.idea/
