[submodule "arrow/src/test/resources/arrow"]
	path = arrow/src/test/resources/arrow
	url = https://github.com/meta-soul/arrow.git
[submodule "arrow-c-data-jni/arrow"]
	path = arrow-c-data-jni/arrow
	url = https://github.com/meta-soul/arrow.git
