# SPDX-FileCopyrightText: 2023 LakeSoul Contributors
#
# SPDX-License-Identifier: Apache-2.0

[package]
name = "lakesoul-metadata"
version = "0.1.0"
edition = "2021"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
postgres="0.19.5"
tokio-postgres = {version = "0.7.8", features=["default", "with-serde_json-1", "with-uuid-1", "array-impls"]}
postgres-types = {version = "0.2.5", features=["derive"]}

tokio = { workspace = true }
proto = { path = "../proto" }
prost = { workspace = true }

num_enum = "0.5.1"
uuid = { workspace = true }
serde_json = { workspace = true }
url = { workspace = true }

