# SPDX-FileCopyrightText: 2023 LakeSoul Contributors
#
# SPDX-License-Identifier: Apache-2.0

[package]
name = "lakesoul-io-c"
version = "2.5.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
lakesoul-io = { path = "../lakesoul-io" }
arrow = { workspace = true, features = ["ffi"] }
tokio = { version = "1", features = ["full"] }
serde_json = "1.0"
serde = { version = "1.0", default-features = false, features = ["derive", "std"], optional = true }
bytes = { workspace = true }
prost = "0.12.3"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
time = { workspace = true }
time-macros = { workspace = true }


[target.'cfg(target_os = "windows")'.dependencies]
datafusion-substrait = { workspace = true }

[target.'cfg(not(target_os = "windows"))'.dependencies]
datafusion-substrait = { workspace = true, features = ["protoc"] }


[features]
hdfs = ["lakesoul-io/hdfs"]
simd = ["lakesoul-io/simd"]
default = []

[build-dependencies]
cbindgen = "0.24.0"