# SPDX-FileCopyrightText: 2023 LakeSoul Contributors
#
# SPDX-License-Identifier: Apache-2.0

on:
  push:
    paths:
      - "native-io/**"
    branches:
      - 'main'
  pull_request:
    paths:
      - "native-io/**"
    branches:
      - 'main'
      - 'release/**'
  workflow_dispatch:

name: Clippy check

# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-05-20
          components: clippy
          default: true
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          version: "23.x"
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "./native-io -> target"
          key: "ubuntu-latest-clippy"
      - name: Run Clippy Native-io
        run: cd native-io && cargo clippy --all-features --package lakesoul-io-c
      - name: Run Clippy Native-metadata
        run: cd native-metadata && cargo clippy --all-features --package lakesoul-metadata-c
